---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
  <p>
    I wrote my first program when I was 10 years old. It was a simple BASIC program designed
    to mimic "Joshua" from War Games, which I had seen just a few weeks before.
  </p>
	<p>
    My journey in tech started in the 90s as a storage specialist, where I responsible
    managing storage resources on the mainframe as well as configuring storage devices,
    managing storage alllocation, and ensuring backup systems functioned correctly. 
	</p>
	<p>
	</p>
	<p>
	</p>
	</p>
	</p>
</Layout>
