---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="">
			<h2 class="text-3xl">welcome to my corner of the web...</h2>
			<p>
      I am Andrew and this is my site. There isn't much here. I am just getting started.
      And, primarily I just want to blog.
			</p>
			<p>
      I am not a web designer, and I am terrible at art, so don't expect anything impressive here!
      But I am software engineer and love writing code. I'm really getting the itch to teach.
      This is why the blog...
			</p>
      <ul id="data-list"></ul>

			<p>

			</p>
			<p>

			</p>
		</main>
		<Footer />
    <script src="/scripts/fetchDadJokes.ts"></script>
	</body>
</html>
